
body, html {
    margin: 0;
    padding: 0;
    height: 80%;
    font-family: Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('birthday.jpeg') ;
    background-size: cover;
    color: rgb(239, 232, 232);
}


.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.countdown-container {
    position: relative;
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.time-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    min-width: 100px;
}

.time-box span {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.time-box p {
    font-size: 1em;
    margin: 0;
    color: black;
}
